.wp_rss_retriever li {
	margin-bottom: 10px;
}

a.wp_rss_retriever_title {
	display: block;
	margin-bottom: .5em;
}

/* Crop image to be a thumbnail */
.wp_rss_retriever_image {
	position: relative;
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.wp_rss_retriever_image img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  max-width: none;
  max-height: none;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);

}

.wp_rss_retriever_image img.portrait {
  width: 100%;
  height: auto;
}

a.wp_rss_retriever_readmore {
	display: inline-block;
}

.wp_rss_retriever_metadata {
	margin: .5em 0;
	font-size: 85%;
}

/* Clear floats */
.wp_rss_retriever ul:before,
.wp_rss_retriever li:after,
.wp_rss_retriever_metadata:after,
.wp_rss_retriever_metadata:before {
	content: '';
	display: table;
	clear: both;
}